@model BrolIndexer.Models.LocalPasswordModel

<p>
    U heeft geen lokaal wachtwoord voor deze site. Stel een lokaal wachtwoord in om niet telkens met de externe dienst te moeten inloggen.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Stel wachtwoord in</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Stel wachtwoord in" />
    </fieldset>
}
