@model IEnumerable<BrolIndexer.Models.Klant>

@{
    ViewBag.Title = "GeefAlleKlantenWeer";
}

<h2>GeefAlleKlantenWeer</h2>

<p>
    @Html.ActionLink("Nieuwe klant", "CreateKlant")
</p>
<table class="zebra">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Familienaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Straat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HuisNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Woonplaats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefoon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Voornaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Familienaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Straat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HuisNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Woonplaats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefoon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.ActionLink("Bewerken", "Edit", new { id=item.KlantId })
            @*            @Html.ActionLink("Details", "Details", new { id=item.KlantId }) |*@
            @if (User.IsInRole("Admin"))
            {
                <span>| </span>@Html.ActionLink("Verwijderen", "Delete", new {id = item.KlantId})
            }
        </td>
    </tr>
}

</table>
